@charset "utf-8";

/* 초기화 */

body. h1, h2, p, ul { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ul li { list-style: none; }
a { text-decoration: #000; color: #575757; }
address { font-style: normal; }
small { font-size: 1em; }
hr {display: none;}
.hidden { position: absolute; left: -9999px; }

/* 헤더 */
#header { width: 100%; height: 100px; 
          background: #ffe1e1; 
          border-bottom: 5px solid #000;  
          display: flex; 
          justify-content: center;}
#header h1 { position: absolute; top: 30px; left: 50px;  }
#header h1 a {}
.gnbView {display: none;}

/* membership */
#memebership { position: absolute; top: 35px; left: 50px;  }
#memebership ul { display: flex; }
#memebership ul li { margin-left: 15px; }
#memebership ul li a {font-size: 14px; }

/* gnb */
#gnb { margin-top: 35px;}
#gnb ul {display: flex;}
#gnb ul li {margin: 0 20px;}
#gnb ul a {}

/* event */
#event { width: 100%; height: 500px;
        background: #b5e3ff;
         display: flex; 
         flex-direction: column;
        align-items: center;
        justify-content: center;}
#event h2 { color: #fff; font-size: 100px; }
#event p { margin: 20px 0 70px; color: #fff;  }
#event a { display: block; width: 200px; height: 50px; border: 1px   
           solid #fff; color: #fff; text-align: center; line-height: 30px;}
#event a:hover { background: #fff; color: #ffdbdb;}

/* 본문 */ 
main { display: flex; width: 1200px; margin: 0 auto;}
main > section { width: 25%; height: 300px; }
#content1 {background: #e1f4ff;}
#content2 {background: #ffd2e9;}
#content3 {background: #ffe9ba;}
#content4 {background: #d5b5ff;}

/* 푸터 */
#footer {width: 100%; padding: 50px 0; 
         background: #ffe1e1;}

/* 1200 이상 */
@media all and ( max-width: 1200px ) {main {width: 100%;}}
@media all and ( max-width: 800px ) {main > section {width: 25%;}}
#event h2 {font-size: 10vw;}
#event p {font-size: 2vw;}

/* 1200 미만 */
@media all and ( max-width: 1199px ) 
{main {width: 100%;}
main > section {width: 25%;}
#event h2 {font-size: 10vw;}
#event p {font-size: 2vw;}}

/* 800 이하 */
@media all and ( max-width: 800px) {
#header h1 {position: static; margin-top: 25px;}    
.gnbView {display: block; position: absolute; 
          top: 30px; left: 30px;
          width: 40px; height: 40px; 
          border: 1px solid #000  }
.gnbView::before { content: ""; 
                   position: absolute; top: 12px; left: 5px;
                   width: 30px; height: 2px; background: #000;
                   transition: 0.2s;}

.gnbView::after { content: ""; 
                  position: absolute; top: 24px; left: 5px;
                  width: 30px; height: 2px; background: #000; 
                  transition: 0.2s;}
.gnbView:hover::before { transform: rotate(45deg); top: 20px;}
.gnbView:hover::after { transform: rotate(-45deg); top: 20px;}
.gnbView:hover { left: 0;}

#gnb { position: fixed; top: 0; left: -200px;
       background: #ffd2e9;
       width: 200px; height: 100vh;
       margin: 0; transition: 0.2s; }

#gnb ul {display: block;}
#gnb ul li {line-height: 50px;}
#gnb ul li a {color: #fff;}

main > section { width: 50%; }
#event h2 {font-size: 32px;}
#event p {font-size: 16px;}
}
